.cartBox {
  min-height: 70vh;
  background-color: #f8f9fa;
  padding-bottom: 50px;
}

.qty-control {
  background: #f1f3f5;
  padding: 5px 12px;
  display: inline-flex;
  align-items: center;
  border: 1px solid #dee2e6;
}

.qty-control button {
  color: #212529;
  font-size: 1.3rem;
  line-height: 1;
  text-decoration: none;
  transition: transform 0.2s;
}

.qty-control button:hover {
  transform: scale(1.2);
  color: #0d6efd;
}

.qty-control span {
  min-width: 25px;
  text-align: center;
}

.custom-table tbody tr {
  background: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.custom-table tbody tr:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.btn-success {
  background-color: #28a745;
  border: none;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-primary.shadow {
  cursor: pointer !important;
  z-index: 10;
  position: relative;
}
.padding{
padding-bottom: 33px;
}
