.custom-navbar {
    background: linear-gradient(90deg, #000000 0%, #001f3f 100%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.8rem 0;
}

.nav-link {
    transition: all 0.3s ease;
    font-weight: 500;
}

.nav-link:hover {
    color: #b88c08 !important;
    transform: translateY(-2px);
    cursor: pointer;
}

.active {
    border-bottom: 2px solid #ffc107;
}
