input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.actions .btn-success {
  transition: transform 0.2s;
}

.actions .btn-success:active {
  transform: scale(0.95);
}
